<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />


    <application
        android:name="com.rayneo.arsdk.android.demo.MercuryDemoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MercuryAndroidSDK"
        tools:targetApi="31">

        <!-- indicate this is an app that supports RayNeoX2 glasses -->
        <meta-data
            android:name="com.rayneo.mercury.app"
            android:value="true" />

        <activity
            android:name="com.rayneo.arsdk.android.demo.DemoHomeActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="pw.binom.dto.NetworkService"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="pw.binom.dto.StartReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.rayneo.arsdk.android.demo.ui.activity.DialogActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.rayneo.arsdk.android.demo.ui.activity.FixedFocusPosRVActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.rayneo.arsdk.android.demo.ui.activity.MovedFocusPosRVActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.rayneo.arsdk.android.demo.ui.activity.FragmentDemoActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.rayneo.arsdk.android.demo.ui.activity.VideoPlayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.rayneo.arsdk.android.demo.ui.activity.MyTestActivity"
            android:screenOrientation="landscape" />

        <receiver android:name="pw.binom.dto.PairingRequest"
            android:exported="true">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.PAIRING_REQUEST" />
                <action android:name="android.bluetooth.device.action.PAIRING_CANCEL" />
            </intent-filter>
        </receiver>

    </application>

</manifest>